.issueHeading {
  font-size: 25px;
  font-weight: bold;
  height: 60px;
  padding: 15px;
  border-bottom: 0.5px solid #e8e8e8;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
}

.taskFormField {
  overflow-y: auto;
  height: 90%;
  padding: 20px;

  .buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 5% 0;

    button {
      margin: 10px;
    }

    .formSubmit {
      margin: 10px;
    }
  }

  .link {
    padding-top: 10px;
    color: black !important;
    text-align: center;
    font-weight: 600;

    &:hover {
      text-decoration: underline !important;
    }

    p {
      margin: 0;
    }
  }

  .jointLinks {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;

    a {
      margin: 0;
      padding: 0;

      p {
        margin: 0;
      }
    }
  }

  .message {
    padding-top: 15px;
  }
}

.icon-button-close svg {
  fill: black;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}
