.ProjectManager {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;

  .ProjectHeader {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    text-align: center;
    margin: 0 0 40px 0;
    background-color: #ffffff;

    .ProjectName {
      font-size: 25px;
      font-weight: 700;
    }
  }

  .Project-icon svg {
    fill: black;
    width: 100px;
    height: fit-content;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .AboutDetails {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-bottom: 40px;

    .EditFields {
      background-color: #ffffff;
      width: 350px;
      height: fit-content;
      border-radius: 5px;
      margin: 20px auto;

      .EditField {
        display: flex;
        margin-bottom: 10px;

        .icon-Project {
          svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }
        }

        .EditLabel {
          font-size: 15px;
          margin-right: 10px;
          width: 50px;
          word-wrap: break-word;
        }

        .EditableField {
          background-color: #eef7ff;
          width: 100%;
          padding: 5px;
          bottom: 3px;
          position: relative;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 0 0 0 -3px rgba(0, 0, 0, 0.1),
            0 2px 2px -2px rgba(0, 0, 0, 0.05);
        }
        .PlaceholderField {
          background-color: white;
          width: 100%;
          position: relative;
          bottom: 3px;
        }
      }
    }

    .buttons {
      button {
        margin: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .AboutDetails {
    padding: 20px;
  }
}
