.project {
  background-color: #ffffff;
  min-width: 225px;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  .projectName {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    transition: 0.5s ease-in-out;

    .projectIcons {
      margin-left: auto;
    }

    .icon-project {
      position: relative;
      bottom: 5px;
    }

    .icon-project:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  .projectKey {
    font-weight: 500;
  }

  .icon {
    .icon-project {
      svg {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }
    }
  }

  .projectType {
    font-size: 20px;
    font-weight: 400;
  }

  .projectLead {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 767px) {
  .project {
    margin: 10px 0;
    width: 100%;
  }
}
