
.form-title {
    padding: 20px 0px 20px 0px;
}
.pen-icon {
    margin-right: 20px;
    display: inline-block;
    padding-right: 10px;
    color: #3f5b77;
}
.title-text {
    display: inline-block;
    font-size: xx-large;;
    font-weight: 700;
}

.error {
    border: 1px solid red;
    border-radius: 5px;
}