.ProjectDetailMain {
  width: 100%;

  .projectSprintHeader {
    margin: 40px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .projectSprintHeading {
      font-size: 40px;
    }
  }

  .projectSprintForm {
    margin: 40px 40px 20px 40px;
    width: 300px;
  }

  .ProjectDetailMainLayout {
    display: flex;
    height: 100%;
    margin: 0 40px;
    overflow-x: auto;

    .ProjectDetailDiv {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .ProjectProgressDiv {
      padding: 5px;
      width: 220px;
      min-height: 200px;
      overflow-y: auto;
      border-radius: 10px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }

    .DraggableDiv {
      padding: 16px;
      margin: 0 0 8px 0;
      min-height: 50px;
      color: black;
      background-color: #eef7ff;
      box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
  }
}

@media (max-width: 767px) {
  .ProjectDetailMain {
    .projectSprintHeader {
      margin: 20px;

      .projectSprintHeading {
        font-size: 20px;
      }
    }

    .projectForm {
      margin: 20px;
      width: 200px;
    }

    .ProjectDetailMainLayout {
      margin: 20px;
    }
  }
}
