$primary-color: #001f3f;

* {
  font-family: "Nunito", sans-serif;
}

.bgColor {
  background-color: $primary-color;
  font-weight: 700;
  color: #ffffff;
}

.buttons {
  button {
    background-color: $primary-color !important;
    font-weight: 700;
    border: 2px solid $primary-color !important;
  }

  button:hover {
    background-color: #ffffff !important;
    color: $primary-color !important;
    border: 2px solid $primary-color !important;
  }

  button:disabled {
    cursor: no-drop;
    background-color: $primary-color !important;
    border: 2px solid $primary-color !important;
    color: #ffffff !important;
  }
}

#root {
  overflow-x: hidden;
}

.txtColor {
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
